<h1>Editing Order #<%= Order.find(params[:id]).number %></h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for(:order_lines) do |ff| %>
   <%= ff.collection_select(:product_id, Product.all, :id, :name) %>
   <%= ff.label(:quantity) %>
   <%= ff.number_field(:quantity) %>
   <p><%= ff.object.total if ff.object.persisted? %></p>
  <% end %>

  <%= submit_tag -%>

<% end %>



<%= link_to 'Show', @order %> |
<%= link_to 'Back', order_path %>
