<h1>Editing Order #<%= Order.find(params[:id]).number %></h1>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @order.products.each do |product| %>
    <%= f.fields_for(product) do |product_form| %>
      <div>
       <%= product_form.label @materials.name %>
       <%= product_form.collection_select :material_ids, @materials, :id, :clock, {prompt: true}, {:multiple => false, :name => 'order[material_ids][]', include_hidden: false} -%>
      </div>
      <div>
        <%= product_form.label @broadcasters.name %>
        <%= product_form.collection_select :broadcaster_ids, @broadcasters,:id, :name, {prompt: true}, {:include_hidden => false,:multiple => true, :name => 'product[broadcaster_ids][]'} -%>
      </div>
      <%= submit_tag -%>

    <% end %>
  <% end %>

  <%= submit_tag -%>

<% end %>



<%= link_to 'Show', @order %> |
<%= link_to 'Back', order_path %>
