<p id="notice"><%= notice %></p>

<% @orders.each do |order| %>
<ul>
  <%= link_to "ORDER #{order.number}", order %>
  <tr>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

</ul>
<% end %>

<tbody>
  <% @orders.each do |order| %>

  <% end %>
</tbody>
<% if Product.any? %>
<%= link_to "New order", new_order_url %>
<% else %>
<%=link_to "Add products", new_product_url %>
<% end %>
