<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= collection_select(:order, :material_ids, @materials, :id, :clock,{prompt: "Select materials:"}, {multiple: true, :class => "chzn-select", :style => "width:150px;" }) %>
  </div>
  <div class="actions">
    <%= f.submit :id => "Create order"%>
  </div>
<% end %>
