<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :number -%>
    <%= f.text_field :number -%>
    <%= f.collection_select(:product_ids, @products, :id, :name, {prompt: true}, {:include_hidden => false,:multiple => true, :name => 'order[product_ids][]'} ) %>
  </div>

  <div class="actions">
    <%= f.submit :id => "Create order"%>
  </div>
<% end %>
