<p id="notice"><%= notice %></p>

<p>
  <strong>NUMBER:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Products:</strong>
  <% @order.products.each do |product| %>
  <li><%= product.name %> price: <%= product.price %> q-ty: <%= @order.order_lines.find_by(:product_id => product.id)[:quantity] %>
  </li>
  <% end %>


  <strong>Order discounted price:</strong>
  <%= @order.discount[:discount] %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
